body{
    background-color: gray;
}

main{
    grid-template-columns: 4fr 1fr;
    grid-template-areas:"h h"
                        "a n"
                        "f f";
     gap: 1.2rem;
     display: grid;
}
header{
    grid-area: "h";
}
nav{
    grid-area: "n";
}
article{
    grid-area: "a";
    height: 40vh;
}
footer{
    grid-area: "f";
}

header, article, nav, footer{
    background-color: brown;
    padding: 1em;
}
fieldset{
border: white 2px solid;
}
@media screen and(max-width: 1200px) {
    main{
    grid-template-columns: 2fr 1fr;
    }
}
@media screen and(max-width: 600px) {
   main{
        background-color: burlywood;
        grid-template-columns: 1fr;
        grid-template-areas:"h"
                            "n"
                            "a"
                            "f";
        }
}
