body{
    background-color: gray;
}

main{
    width: 70%;
    margin: auto;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "h h"
        "a n"
        "f f";
}
header{
    grid-area:"h";
    background-image: url(img/header.jpg);
}
nav{
    grid-area:"n";
}
article{
    grid-area:"a";
    height: 50vh;
}

#kozepre{
    margin-right: auto;
    margin-left:auto ;
}

footer{
    grid-area:"f";
}
header, article, nav, footer{
    background-color: rgb(194, 93, 93);
    padding: 1em;
}
header,footer{
    text-align: center;
}

legend{
    width: 20%;
    text-align: right;
    background: beige;
    color: rgb(88, 23, 23);
    border-radius: 5px;
    padding: 2px 30px;
}
label{
    width: 30%;
    float: left;
    margin-right: 20px;
}
header, article, nav, footer{
    background-color: brown;
    padding: 1em;
}
input label{
 margin-top: 20px;
}
input{
    padding: 5px;
}
fieldset{
border: white 2px solid;
margin: 15px;
padding: 15px;
}
*{
    box-sizing: border-box;
}
@media screen and(max-width: 1200px) {
    main{
    grid-template-columns: 2fr 1fr;
    }
    header, article, nav, footer{
        background-color: rgb(112, 45, 45);
    }

    legend{
        width: 50%;
        text-align: center;
    }
}
@media screen and(max-width: 600px) {
   main{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:"h"
                            "n"
                            "a"
                            "f";
        }

    header, article, nav, footer{
        background-color: rgb(88,23,23);
    }
}
